@import "_bootstrap.scss";


body {
	background-color: #000;
	font-size: ($font-size-base * 1.5);
}
canvas {
	background: #fff;
	border-radius: 0;
	display: block;
	margin: 0 auto;
	cursor: url(../img/cursor.png), crosshair;

}

#shadowBrush {
	position: fixed;
	border-radius: 50%;
	left: 225px;
	top: 0;
	border: 1px solid #000;
	background-color: rgba(255,255,255,0.95);
}

.navbar {
	border-radius: 0;
	background-color: #AAA;
	border: none;

	&.navbar-default {
		.navbar-brand	{
			color: #000;
		}
	}
}

.btn-clear {
    position: fixed;
    top: 0;
    left: 175px;
    font-size: 32px;
    padding: 7px 15px;
    color: #FFF;
    background-color: #000;
    border-radius: 0;
}
.btn-erase {
	position: fixed;
    top: 0;
    left: 90px;
    font-size: 32px;
    padding: 7px 15px;
    color: #FFF;
    background-color: #000;
    border-radius: 0;
}

.btn.btn-primary {
	clear: both;
	float: none;
	display: block;
	box-shadow: 0px 0px 10px inset, 2px 2px 3px 0px #00f;
	&.clear {
		width: 200px;
		margin: 20px 0 0;
	}
	.caret {
		margin: 0 0 0 10px;
	}
}

.clear {
	clear: both;
}

.btn-controls {
	background-color: #000;
	border-radius: 0;
	color: #fff;
  font-size: 30px;
  height: 60px;
  left: 0;
	line-height: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 70px;
	z-index: 99999;
	i {
		font-size: 20px;
	}
	span {
		margin: 0 0 0 10px;
	}
}

.btn-random {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	padding: 0;
	height: 50px;
	background-color: #000;
	border-radius: 0;
	color: #FFF;
	font-size: 20px;
	z-index: 999999;
}

.controls {
	background-color: rgba(255,255,255,0.9);
	top: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;

	&.open {
		background-color: rgba(0,0,0,0.96);
		width: 100%;
		height: auto;
		opacity: 1;
		padding: 20px 70px;
		transition: all 0.4s ease;
	}

	&.close {
		width: 0;
		height: 0;
		opacity: 0;
		transition: all 0.4s ease;
	}

	.clear-canv {
		clear: both;
		padding: 20px 0 0;
	}

	.opacity {
		float: left;
		width: 46%;
    margin: 0 4% 0 0;
		p {
		  float: right;
		  margin: 0 0 0 10px;
		}
	}
	label {
		color: white;
	}
	ul {
		color: white;
		float: left;
		width: 46%;
    	margin: 0 3% 0 1%;
		li {
			width: 75px;
			height: 75px;
			margin: 10px 10px 10px 0;
			float: left;
			cursor: pointer;
			&.selected {
		    border: 2px solid #000;
		    box-sizing: border-box;
				box-shadow: inset 0px 0px 12px 2px #fff;
			}

			&.black {
				background-color: black;
			}

			&.white {
				border: 2px solid #000;
				background-color: white;

				&.selected {
					box-shadow: inset 0px 0px 12px 2px #000;
				}
			}
		}
	}

	.stroke-width {
		clear: both;
		width: 46%;
		margin: 30px 0;
		p {
		  float: right;
		  margin: 0 0 0 110px;
		}
		#strokeBox {
			display: inline-block;
			margin: 10px 0 0 10px;
			height: 10px;
			border-radius: 50%;
			border: 1px solid #fff;
		}
	}

	#colorSelect {
		display: none;
		width: 50%;
		float: left;
	}

	#newColor {
		display: block;
		width: 75px;
		height: 75px;
		margin: 10px;
	}
}

// input range slider CSS

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #fff;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #AAA;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #fff;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #AAA;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #fff;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #fff;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #AAA;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #fff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #fff;
}
