@import "_bootstrap.scss";


body {
	background-color: #000;
}
canvas {
	background: #fff;
	display: block;
	border-radius: 5px;
	box-shadow: 5px 5px 12px 0px #333;
	cursor: url(../img/cursor.png), crosshair;
}

.controls {
	ul li {
		width: 75px;
		height: 75px;
		margin: 10px;
		float: left;
		&.red {
			background-color: red;
		}

		&.green {
			background-color: green;
		}

		&.blue {
			background-color: blue;
		}
	}
}
