@import "_bootstrap.scss";


body {
	background-color: #000;
	font-size: ($font-size-base * 1.5);
}
canvas {
	background: #fff;
	display: block;
	border-radius: 5px;
	box-shadow: 5px 5px 12px 0px #333;
	cursor: url(../img/cursor.png), crosshair;
}

.navbar {
	border-radius: 0;
	background-color: #AAA;
	border: none;

	&.navbar-default {
		.navbar-brand	{
			color: #000;
		}
	}
}

.btn.btn-primary {
	clear: both;
	float: none;
	display: block;
	&.clear {
		width: 200px;
		margin: 20px 0 0;
	}
	.caret {
		margin: 0 0 0 10px;
	}
}

.clear {
	clear: both;
}

.controls {
	margin: 50px 0 20px;
	padding: 30px 15px;
	background-color: white;

	.clear-canv {
		clear: both;
		padding: 20px 0 0;
	}

	.opacity {
		float: left;
		width: 46%;
    margin: 0 4% 0 0;
	}
	ul {
		float: left;
		width: 46%;
    margin: 0 4% 0 0;
		li {
			width: 75px;
			height: 75px;
			margin: 10px 10px 10px 0;
			float: left;
			cursor: pointer;
			&.selected {
		    border: 2px solid #000;
		    box-sizing: border-box;
				box-shadow: inset 0px 0px 12px 2px #fff;
			}

			&.black {
				background-color: rgba(0, 0, 0, 1);;
			}

			&.white {
				border: 2px solid #000;
				background-color: rgba(255, 255, 255, 1);

				&.selected {
					box-shadow: inset 0px 0px 12px 2px #000;
				}
			}
		}
	}

	.stroke-width {
		clear: both;
		width: 46%;
		#strokeBox {
			display: inline-block;
			margin: 10px 0 0 10px;
			height: 10px;
		}
	}

	#colorSelect {
		display: none;
		width: 50%;
		float: left;
	}

	#newColor {
		display: block;
		width: 75px;
		height: 75px;
		margin: 10px;
	}
}
